<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Travel Planner App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

</head>

<body>
  <div id="container">

    <header class="headline">
      <h1 id="logo">Travel Planer App</h1>
    </header>

    <section class="left_box">
      <div class="form_handler">
        <div class="to">
          <label for="city">To</label><br>
          <input type="text" id="city" placeholder="Destination City">
        </div>
        <div class="date_input">
          <label for="start-date">Departure</label><br>
          <input type="date" name="depart" id="depart" onchange="Client.endInputHandler();"><br><br>
          <label for="start-date">End</label><br>
          <input type="date" name="end" id="end">
        </div>
        <div class="go_btn">
          <button id="generate" type="submit"> Go! </button>
        </div>
      </div>
      <div class="">
        <p class="wait"></p>
      </div>
    </section>
    <section class="right_box">
      <div class="image_place">
        <img src='' class="img_container">
      </div>
      <div class="text">
        <p class="feed">test</p>
      </div>
    </section>

    <section class="weather_week">
      <div class="table">
        <div>
          <p>Next week</p>
        </div>
        <div class="first_rows">
          <div class="date_row d1"></div>
          <div class="date_row d2"></div>
          <div class="date_row d3"></div>
          <div class="date_row d4"></div>
          <div class="date_row d5"></div>
          <div class="date_row d6"></div>
          <div class="date_row d7"></div>
        </div>
        <div class="second_rows">
          <div class="weather_row w1">
            <img class="icon i1" src="">
            <div class="w1hl">
              <p class="w1h"></p>
              <p class="w1l"></p>
            </div>
          </div>
          <div class="weather_row w2">
            <img class="icon i2" src="">
            <div class="w2h2">
              <p class="w2h"></p>
              <p class="w2l"></p>
            </div>

          </div>
          <div class="weather_row w3">
            <img class="icon i3" src="">
            <div class="w3h3">
              <p class="w3h"></p>
              <p class="w3l"></p>
            </div>

          </div>
          <div class="weather_row w4">
            <img class="icon i4" src="">
            <div class="w4h4">
              <p class="w4h"></p>
              <p class="w4l"></p>
            </div>

          </div>
          <div class="weather_row w5">
            <img class="icon i5" src="">
            <div class="w5h5">
              <p class="w5h"></p>
              <p class="w5l"></p>
            </div>

          </div>
          <div class="weather_row w6">
            <img class="icon i6" src="">
            <div class="w6h6">
              <p class="w6h"></p>
              <p class="w6l"></p>
            </div>

          </div>
          <div class="weather_row w7">
            <img class="icon i7" src="">
            <div class="w7h7">
              <p class="w7h"></p>
              <p class="w7l"></p>
            </div>

          </div>
        </div>

      </div>

    </section>

    <div class="map" id="issMap">

    </div>

    <footer class="footer">
      <p>This is a footer.</p>
    </footer>
  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>

</body>

</html>